<!-- general behavior -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="{{ site.baseurl }}/scripts/dist/bundle.js"></script>

<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 footer-left">
                <ul class="list-unstyled">
                    <li><a class="footer-logo" type="button" href="http://datascientia.eu/"><img
                            src="{{ site.baseurl }}/img/data-scientia-white.png"></a></li>
                    <p class="footerAddress"><br>
                        <a href="http://knowdive.disi.unitn.it/wordpress/">Knowdive</a>, <a
                                href="http://www.unitn.it/" target="_blank" rel="noopener noreferrer">University of
                            Trento</a>,<br>
                        38123 Povo, Trento, Italy</p>
                </ul>
            </div>
            <div class="col-md-3 footer-center-left">
                <ul class="list-unstyled">
                    <li><a href="https://datascientiafoundation.github.io/LiveLanguage/">LiveLanguage</a></li>
                    <li><a href="https://datascientiafoundation.github.io/LiveKnowledge/">LiveKnowledge</a></li>
                    <li><a href="https://datascientiafoundation.github.io/LivePeople/">LivePeople</a></li>
                    <li><a href="https://datascientiafoundation.github.io/LiveData/">LiveData</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-center-right">
                <ul class="list-unstyled">
                    <li><a href="http://datascientia.eu/manifesto/">Manifesto</a></li>
                    <li><a href="http://datascientia.eu/mission/">Mission</a></li>
                    <li><a href="http://datascientia.eu/events/">News</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-right">
                <ul class="list-unstyled">
                    <li><a href="http://datascientia.eu/">Community</a></li>
                    <li><a href="http://datascientia.eu/it/become-a-partner/">Become a Partner</a></li>
                    <li><a href="http://datascientia.eu/contact-us/">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
